@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Noto+Serif:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@1,400;1,700&family=Poppins:wght@400;600&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* HEADER */

header{
    position: fixed;
    z-index: 121231233;
    top: 0px;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.35);
    backdrop-filter: blur(2px);
    
}
h1{
    margin-left: 70px;
    opacity: 0.85;
}
h1:hover{
  opacity: 1;
}
.navMobile{
    display: none;
}
.navMobile{
    margin-right: 15px;
}
#oscuridadMobile{
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(1px);
    margin-left: 100% ;
    z-index: 1231231231232;
    margin-top: 56px;
    transition: all 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
#oscuridadMobile ul{
    padding-left: 0px;
    margin-top: 20vh;
    text-align: center;
 
    margin-top: -120px;
}
#oscuridadMobile li{
   
    margin: 20px auto;
  
}
.navDesktop{
    margin: 0px 50px
}
.navDesktop ul{
    display: flex;
}
.navDesktop ul li a{
    color: white;
    margin: 0px 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: "Oskari G2";
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    z-index: 21312321321313;
    opacity: 0.75;
}
#oscuridadMobile ul li a{
    color: white;
    margin: 5px 0px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: "Oskari G2";
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    z-index: 21312321321313;
    opacity: 0.75;
}
#proyects44{
    margin-top: -20px;
    margin-bottom: -10px;
    transform: scaleY(0);
    transform-origin: top left;
    transition: transform 1s ease;
    position: absolute;
    margin-left: -25px;
 
}
#proyects44 h2{
    margin: 12px auto;
}
#oscuridadMobile a{
    text-decoration: none;
}
#oscuridadMobile a h2{
    color: white;
    position: relative;
    font-family: "Oskari G2";
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
    z-index: 21312321321313;
    opacity: 0.75;
}
.navDesktop ul li a:after{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: #0085FF;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.6s ease;
}
.navDesktop ul li .estamosAqui:after{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: #0085FF;
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.6s ease;

}
#sopaA::after{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: #0085FF;
    transform: scaleX(1);
    transform-origin: bottom left;
}
.navDesktop ul li a:hover{
    opacity: 0.89;
}
.navDesktop ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#sopaA{
    opacity: 1;
}
#proyectsDown2{
    width: 10px;
    margin-left: -14px;
    cursor: pointer;
    margin-bottom: 2px ;
}
#proyectsDown22{
    width: 10px;
    margin-left: 8px;
    cursor: pointer;
    margin-bottom: 7px ;
}
#proyectsDown3{
    width: 10px;
    margin-left: -14px;
    cursor: pointer;
    margin-bottom: 2px ;
    transform: rotate(180deg);
}
#proyectsDown33{
    width: 10px;
    margin-left: 8px;
    cursor: pointer;
    margin-bottom: 7px ;
    transform: rotate(180deg);
}
#clickProyects{
    transition: all 0.5s ease;
}
#clickProyects22{
    transition: all 0.5s ease;
    margin-left: 10px;
}
.sopa22 a::after{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0px;
    background-color: #0085FF;
    transform: scaleX(1);
    transform-origin: bottom left;

}
#sacameContact{
    position: absolute;
    margin-left: 10px !important;
    margin-top: -5px !important;
}
/* HEADER proyects*/
#proyectsFather{
    position: fixed;
    width: 135px;
    z-index: 3;
    right: 165px;
    top:56px;
    height: 390px;
    margin-top: 0%;
    overflow-y: hidden;
}
#proyects{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgba(0,0,0,0.35);
    backdrop-filter: blur(1px);
    transform: translateY(-100%);
    transition: all 1.3s ease;
    transform-origin: top ;
    overflow-y: hidden;
}
.hidden2{
    visibility: hidden;
}
.sopa{
    z-index: 213213123123123213123123123;
}
#proyects div{
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#proyects div a{
    text-decoration: none;
   
}
#proyects div a h2{
    text-align: center;
     position: relative;
}
#proyects div a h2:after{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: #0085FF;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.6s ease;
  
}
#proyects div a h2:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#proyects div h2{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: white;
    z-index: 21312321321313;
    opacity: 0.85;

}



/* IMAGENES */

.imagen{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5 ease-in-out;
    background-position: center;
    background-attachment:fixed;
    position: relative;
   
}
.imagen2{
    width: 100vw;
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5 ease-in-out;
    background-attachment:fixed;
    background-position: center;
    position: relative;
  
}
.home1{
    background-image: url("../img/viamonte/2.webp");
}
.home2{
    background-image: url("../img/home/miralago2.jpg");
}
.home3{
    background-image: url("../img/home/vistalba.jpg");
}
.home5{
    background-image: url("../img/home/almendras.jpg");
}
.home4{
    background-image: url("../img/home/tunduques.jpg");
}
.home6{
    background-image: url("../img/home/fortiate.jpeg");
}
.i1{
    height: 100vh;
    background-image: url("../img/nosotros/image86.jpg");
}
.i2{
    height: 100vh;
    background-image: url("../img/nosotros/image87.webp");
}
.i3{
    height: 100vh;
    background-image: url("../img/nosotros/image88.webp");
}
.i4{
    height: 100vh;
    background-image: url("../img/nosotros/image89.webp");
}
.i5{
    height: 100vh;
    background-image: url("../img/nosotros/image90.webp");
}
.i6{
      height: 100vh;
      background-position-y: top;
    background-image: url("../img/nosotros/image91.webp");
}
.viamonte1{
    background-image: url("../img/viamonte/1.jpg");
}
.viamonte2{
    background-image: url("../img/viamonte/2.webp");
}
.viamonte3{
    background-image: url("../img/viamonte/3.webp");
}
.viamonte4{
    background-image: url("../img/viamonte/4.webp");
}
.viamonte5{
    background-image: url("../img/viamonte/5.webp");
}
.viamonte6{
    background-image: url("../img/viamonte/6.webp");
}
.viamonte7{
    background-image: url("../img/viamonte/7.webp");
}
.viamonte8{
    background-image: url("../img/viamonte/8.webp");
}
.viamonte9{
    background-image: url("../img/viamonte/9.webp");
}
.viamonte10{
    background-image: url("../img/viamonte/10.svg");
}
#miralago1{
    background-image: url("../img/miralagoPotrerillos/MIRALAGO1.jpg");
}
#miralago2{
    background-image: url("../img/home/miralago2.jpg");
}
#miralago3{
    background-image: url("../img/miralagoPotrerillos/MIRALAGO3.jpg");
}
#miralago4{
    background-image: url("../img/miralagoPotrerillos/iralago_1-2.jpg");
}
#miralago5{
    background-image: url("../img/miralagoPotrerillos/MIRALAGO5.jpg");
}
#miralago6{
    background-image: url("../img/miralagoPotrerillos/MIRALAGO6.jpg");
}
#miralago7{
    background-image: url("../img/miralagoPotrerillos/MIRALAGO7.jpg");
}
#miralago8{
    background-image: url("../img/miralagoPotrerillos/MIRALAGO8.jpg");
}
#miralago9{
    background-image: url("../img/miralagoPotrerillos/MIRALAGO9.jpg");
}
#miralago10{
    background-image: url("../img/miralagoPotrerillos/MIRALAGO10.jpg");
}
#logoBackground{
    position: absolute;
    top: 63vh;
    right: 18vw;

}
#vistalba1{
    background-image: url("../img/vistalba/vistalba1.jpg");
}

#vistalba2{
    background-image: url("../img/vistalba/vistalba2.jpg");
}
#vistalba3{
    background-image: url("../img/vistalba/QvattroVistalba_3.jpg");
}
#vistalba4{
    background-image: url("../img/vistalba/QVATTROVISTALBA4.jpg");
}
#vistalba5{
    background-image: url("../img/vistalba/vistalba2.jpg");
}

#vistalba6{
    background-image: url("../img/vistalba/vistalba6.jpg");
}
#vistalba7{
    background-image: url("../img/vistalba/vistalba3.jpg");
}
#vistalba8{
    background-image: url("../img/vistalba/QVATTROVISTALBA8.jpg");
}
#vistalba9{
    background-image: url("../img/vistalba/QVATTROVISTALBA6.jpg");
}
#tunduque1{
    background-image: url("../img/tunduque/tunduques1.jpg");
    background-position: top;
}
#tunduque2{
    background-image: url("../img/tunduque/tunduques2.jpg");
}

#tunduque3{
    background-image: url("../img/tunduque/tunduques3.jpg");
}

#tunduque4{
    background-image: url("../img/tunduque/tunduques4.jpg");
}

#tunduque5{
    background-image: url("../img/tunduque/tunduques5.jpg");
}
#almendro1{
    background-image: url("../img/almendros/almendro1.jpg");
}
#almendro2{
    background-image: url("../img/almendros/almendro2.jpg");
}
#almendro3{
    background-image: url("../img/almendros/almendro3.jpg");
}
#almendro4{
    background-image: url("../img/almendros/almendro4.jpg");
}
#almendro5{
    background-image: url("../img/almendros/almendro5.jpg");
}
#almendro6{
    background-image: url("../img/almendros/almendro6.jpg");
}
#fortiatte1{
    background-image: url("../img/fortiatte/fortiatte1.jpg");
}
#fortiatte2{
    background-image: url("../img/fortiatte/Fortiatte_2.jpg");

}

#fortiatte3{
    background-image: url("../img/fortiatte/Fortiatte_3.jpg");

}

#fortiatte4{
    background-image: url("../img/fortiatte/Fortiatte_4.jpg");

}

#fortiatte5{
    background-image: url("../img/fortiatte/Fortiatte_5.jpg");

}

#fortiatte6{
    background-image: url("../img/fortiatte/Fortiatte_6.jpg");

}


/* FLECHA UP */
.flecha{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: -10%;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
    z-index: 213213123;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(0.5px);
    border: solid 2.5px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flecha:hover{
    opacity: 0.8;
}




/* TEXTOS  EN LAS IMAGENES*/

.principalText{
    position: absolute;
    width: 517px;
    right:0px ;
    transition: all 0.8s ease-in;
    border-radius: 20px;
    z-index: 13;
    height: 300px;
    bottom: 200px;
    left: 70px;
    overflow-y: hidden;
}
.textBottom{
    bottom: 90px;
}
.divMas{
    display: flex;
    position: absolute;
    bottom: 200px;
    left: 70px;
    z-index: 213;
}
.masBottom{
    bottom: 90px;
}
.cambiaHeight{
    height: 250px;
    overflow-y: hidden;
}

.pText{
    padding: 25px 0px;
    font-size: 16px;
    font-weight: 400;
    color:rgb(255,255,255);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 24px;
    z-index: 3;
    text-shadow:  2px 2px 4px black;
    transition: all 0.6s ease;
    transform: translateY(200px);
    transform-origin: bottom right;
    overflow-y: hidden;
}
.textoH4{
    color: #fff;;
    font-size: 44px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-shadow:  1px 1px 2px black;
    transition: all 0.7s ease;
    transform: translateY(250px);
    transform-origin: bottom right;
    z-index: -2;
    overflow-y: hidden;
}

.verProyecto{
    width: 120px;
    height: 38px;
    background-color: rgba(0,0,0,0.45);
    text-decoration: none;
    text-align: center;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.verProyecto h3 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: white;
    position: relative;
    opacity: 0.75;

}
.verProyecto h3:hover{
    opacity: 0.95;
}
.verProyecto h3:after{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: #0085FF;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.6s ease;
  
}
.verProyecto h3:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.signoMas{
    width: 38px;
    height: 38px;
    background-color: rgba(0,0,0,0.95);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.signoMas img{
    width: 15px;
    height: 15px;
}
.signoMenos{
    width: 38px;
    height: 38px;
    background-color: rgba(0,0,0,0.95);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.signoMenos img{
    width: 15px;
    height: 15px;
}

.tituloMas{
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    transition: all 0.9s ease;
    transform: scaleX(1);
    transform-origin: bottom left;
    z-index: -1;
}
.tituloMas h4{
    font-size: 20px;
    font-weight: 600;
    padding: 0px 20px;
    text-shadow: none;
    color: #fff;;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

}
.tituloMas h4:hover{
    opacity: 1
}





/* NOSOTROS */

.textNosotros{
    text-align: center;
}
.textNosotros img{
    background-color: white;
    margin-top: 103px;
    margin-bottom: 39px;
    padding: 10px;
}

.textNosotros p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-family: "Oskari G2";
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 20px 25% ;
    text-align: center;
}

.weCard{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 100px;
    width: 350px;
    transition: all 1s ease;
    position: relative;
    left: -100%;
}
.nosotrosCards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.socios h5 {
    font-family: "Oskari G2";
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin-top: 50px;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
}

.weCard h3{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.weCard a {
    margin-top: 10px;
    overflow: hidden;
}
.weCard a img:hover{

    border-radius: 50%;
    background-color: #0085FF;
    transition: all 0.5s ease ;
}
.weCard p{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.maginTop20{
    margin-top: -50px;
}
.weCard2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 100px;
    width: 350px;
    transition: all 1s ease;
    position: relative;
    left: 100%;
}
.weCard2 h3{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.weCard2 a {
    margin-top: 10px;
    overflow: hidden;
}
.weCard2 a img:hover{

    border-radius: 50%;
    background-color: #0085FF;
    transition: all 0.5s ease ;
}
.weCard2 p{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.galeria div{
    width: 100%;
    margin:0px;
    overflow: hidden;
    display: flex;

}
.galeria img {
    height: auto;
   cursor: pointer;
   overflow: hidden;
   flex-grow: 1;
 
}

.slider-container {

    display: inline-flex;
  
    overflow: hidden;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.6s ease-out;
    cursor: grab;
    overflow-y: hidden;

    position: fixed;
    z-index: 3123123123123321;
    top:10vh;
    left: 0px;
  }
  
  .slide{

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
   
  }
  .slide img{
      width: 77vw;
      height: 80vh;
      max-height: 82vh;
    max-width: 80vw;
        object-fit: cover;
        object-position: bottom;
  }
 #cambioImagen{
    object-fit: contain;
 }
  #oscuroCarrusel{
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
      z-index: 213312133;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;

  }
  #oscuroCarrusel .oscuroCarruselImg{
      position: absolute;
      top:15px;
      right: 50px;
      width: 45px;
      height: 45px;
      cursor: pointer;
  }
  #flechaCarruselMover{
    overflow: hidden;
    position: fixed;
    top: 40vh;
    right: 40px ;
    width:70px;
    height: 70px;
   z-index: 2131241234213412342134234234;
  }
  #flechaCarruselMover2{
    overflow: hidden;
    position: fixed;
    top: 40vh;
    left: 40px ;
    width:70px;
    height: 70px;
   z-index: 2131241234213412342134234234;
  }
  #flechaCarruselMover img{
    
    width: 70px;
    height: 70px;
    cursor: pointer;
    
  }
  #flechaCarruselMover2 img{
    
    width: 70px;
    height: 70px;
    cursor: pointer;
    transform: rotate(180deg);
  }


  /* paquetes */
 
  .paquete div div{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 60px;
     width: 264px;
     overflow-y: hidden;
  }
  #rome div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    width: 264px;
    overflow-y: hidden;
 }
  .paquete div div div p{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    font-weight: lighter;
  }
  .paquete div div div h2{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }
  #rome div div h2{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }
  .paquete div div div{
    display: flex;
     align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
    overflow-y: hidden;
  }
  .paquete #paqueteFlex{
      display: flex;
      margin-bottom: 40px;
      flex-wrap: wrap;
     
  }
  #rome div div{
    display: flex;
     align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
    overflow-y: hidden;
  }
  #rome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }
.paquete{
    margin: 100px auto;
}
#sectionPaquete{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#sectionPaquete h3{
    margin-top: 100px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 28px;
}




/* mapa interactivo */

#mapaInteractivo{
    text-align: center;
   width: 100%;
}
#mapaInteractivo p{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 300 ;
    font-size: 34px;
    color: rgba(0, 0, 0, 0.90);
}
#mapaInteractivo h4{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 40px;
    margin-top: 7px;
}
#mapaInteractivo h4:hover{
    text-decoration: underline;
}


#mapaInteractivo div > div{
    position: relative;
    overflow: hidden;
    width: 1000px;
    margin: 200px auto;
 
}
#mapaInteractivo .paquetito{
    position: absolute;
    display: flex;
    justify-content: center ;
    align-items: center;
    cursor: pointer;
    margin: 0px;
}
#mapaInteractivo .conText{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: black;
}
#mapaInteractivo #diamante{
    top:500px;
    left:360px;
    width: 100px;
}
#mapaInteractivo #mapaJuegoInfantil{
    top:420px;
    left:470px;
}
#mapaInteractivo #mapaJuegoInfantil2{
    top:810px;
    left:585px;
}
#mapaInteractivo #mapaJuegoInfantil3{
    top:560px;
    left:180px;
}
#mapaInteractivo #mapaJuegoInfantil4{
    top:280px;
    left:715px;
    width: 100px;
    text-align: left;
}
#mapaInteractivo #mapaBicisenda{
    top:780px;
    left:270px;
}
#mapaInteractivo #mapaBicisenda2{
    top:640px;
    left:670px;
   
}
#mapaInteractivo #mapaBicisenda3{
    top:500px;
    left:790px;
    width: 0px;
   
}
#mapaInteractivo #mapaBeach{
    top:655px;
    left:160px;
}
#mapaInteractivo #mapaBeach2{
    top:775px;
    left:185px;
}
#mapaInteractivo #mapaFitnes{
    top:935px;
    left:305px;
    width: 100px;
}
#mapaInteractivo #camera1{
    top:330px;
    left:805px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera1:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera2{
    top:985px;
    left:245px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera2:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera3{
    top:635px;
    left:340px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera3:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera4{
    top:725px;
    left:140px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera4:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera5{
    top:695px;
    left:275px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera5:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera6{
    top:35px;
    left:525px;
    background-color: #1A11AB;
  
}
#mapaInteractivo #camera6:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera7{
    top:545px;
    left:515px;
    background-color: #1A11AB;
  
}
#mapaInteractivo #camera7:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera11{
    top:105px;
    left:105px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera11:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera22{
    top:395px;
    left:200px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera22:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera33{
    top:545px;
    left:390px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera33:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera44{
    top:835px;
    left:115px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera44:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera55{
    top:555px;
    left:785px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera55:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera66{
    top:175px;
    left:860px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera66:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera77{
    top:85px;
    left:570px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera77:hover{
    background-color: #0085FF;
}
#mapaInteractivo #camera88{
    top:280px;
    left:550px;
    background-color: #1A11AB;
}
#mapaInteractivo #camera88:hover{
    background-color: #0085FF;
}
#mapaInteractivo #estacionamiento11{
    top:135px;
    left:255px;
}
#mapaInteractivo #lodge11{
    top:515px;
    left:290px;
}
#mapaInteractivo #muelle11{
    top:595px;
    left:260px;
}
#mapaInteractivo #mirador11{
    top:645px;
    left:295px;
}
#mapaInteractivo #puente11{
    top:685px;
    left:345px;
}
#mapaInteractivo #juego11{
    top:785px;
    left:405px;
}
#mapaInteractivo #plato11{
    top:835px;
    left:375px;
}
#mapaInteractivo #voley11{
    top:850px;
    left:325px;
}
#mapaInteractivo #pileta11{
    top:855px;
    left:275px;
}
#mapaInteractivo #barco11{
    top:795px;
    left:225px;
}
#mapaInteractivo #paragua11{
    top:725px;
    left:165px;
}
#mapaInteractivo #mapaAjedrez{
    top:910px;
    left:450px;
    width: 100px;
}
#mapaInteractivo #mapaTenis{
    top:860px;
    left:510px;
    width: 100px;
}
#mapaInteractivo #mapaSkatePark{
    top:750px;
    left:605px;
    width: 100px;
}
#mapaInteractivo #mapaPolifuncional{
    top:690px;
    left:665px;
    width: 100px;
}
#mapaInteractivo #mapaMiniGolf{
    top:640px;
    left:705px;
    width: 100px;
}
#mapaInteractivo #mapaTree{
    top:520px;
    left:220px;
    width: 100px;
   
}
#mapaInteractivo #mapaBosqueSur{
    top:840px;
    left:240px;
    width: 100px;
}
#mapaInteractivo #mapaParqueMayor{
    top:750px;
    left:736px;
    width: 100px;
   
}
#mapaInteractivo #mapaParqueNorte{
    top:212px;
    left:633px;
    width: 280px;
    text-align: left;
    
   
}
#mapaInteractivo #mapaIsla{
    top:380px;
    left:495px;
    width: 100px;
    text-align: left;
    
   
}
#mapaInteractivo #mapaTree div{
    width: 48px;
    height: 48px;
}

#mapaInteractivo .paquetito div{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapaInteractivo .paquetito img{
    transform: scale(0.83);
}
#mapaInteractivo .paquetito:hover{
    transition: all 0.5 ease-in-out;
    transform: translateY(-5px);
    
    
}
#mapaInteractivo .conText:hover{
    background-color: #0085FF;
    transition: all 0.5 ease-in-out;
}
#mapaInteractivo #parrafoText{
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}


#mapaTrue{
    width: 789px;
    height: 1070px;

}
#mapaFalse{
    width: 789px;
    height: 1070px;
   
}


/* galeriaViamont*/

.viamonteGaleria{
 /* transform: scaleY(1.05);*/
}
.viamonteGaleria2{
    transform: scaleX(1.006);
  }

  /* inmobiliaria */

  .inmobiliarias{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 100px auto;
  }
  .inmobiliarias img{
      margin-left: 25px;
  }

/* FOOTER*/

footer{
    height: 172px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: -5px;

}
footer p{
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
}
footer h5{
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    top: 30px;
}
.footerP{
    color: rgba(255, 255, 255, 0.90);
    font-size: 14px;
    margin-right: 50px;
}
.footerNeedMargin{
    margin-bottom: -20px;

}
.footerLogo{
    margin-left: 75px;
}
.needHidden{
    display: none;
    margin-top: 5px;
}


/* contacto*/
#paginaContacto{
    background-color: black;
}
#paginaContacto section{
    margin-top: 56px;
    height: 600px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
#paginaContacto section .contactoTitle{
    font-size: 50px;
    margin-bottom: 20px;
}
#paginaContacto section div{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#paginaContacto section #marginTop20px{
    align-items: stretch;
    transform: translateX(200px);
}
#marginTop20px p{
    margin-top: 20px;
    text-align: left;
}

#foterContacto{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.92);
    height: 40px;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color: black;
}

/* CLASE HIDDEN IMPORTANT*/
.hidden{
    display: none;
}



/* MEDIA QUERIES */
@media all and (max-width:1200px){

    footer{
        flex-direction: column;
        align-items: flex-start;
        background-color: #141414;
        height: 334px;
    }
    .needHidden{
        display: block;
    }
    .notNeedHidden{
        display: none;
    }
    footer div{
        margin-left: 20px;
    }
    .footerLogo{
        margin-top: 40px;
    }
    footer h5{
        top: 100px
    }
    .footerNeedMargin p{
        margin-top: 5px;
    }
    .footerNeedMargin2{
        margin-bottom: 30px;
    }
    .footerLogo{
        margin-left: 20px;
    }

}
@media all and (max-width:900px){

    .navDesktop{
                display: none;
    }
    .navMobile{
                display: flex;
    }
    h1{
        margin-left: 20px;
    }
    .divMas{
        left: 20px;
    }
    .flecha{
        right: -15%;
        width: 40px;
        height: 40px;
    }
    .principalText{
        height: 200px;
        bottom: 135px;
        left: 20px;
        width: 300px ;
    }
    .tituloMas{
        display: none;
    }
    .pText{
        font-size: 12px;
        line-height: 16px;
        padding: 10px 0px;
    }
    .textoH4{
        font-size: 32px;
    }
    .imagen2{
        height: 110vh;
        margin-top: -10px;
        background-attachment: scroll;
    }
    .imagen{
        background-attachment: scroll;
    }
    .nosotrosCards{
        flex-direction: column;
    }
    .textNosotros p{
       margin: 20px 8%
    }
    .galeria div{
        flex-direction: column;
    }
    .paquete #paqueteFlex{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .paquete div div{
        margin-bottom: 10px;
    }
    #mapaInteractivo > div{
        width: 100%;
        overflow: scroll;
    }
    #mapaInteractivo div > div{
        margin: 0px auto;
        margin-bottom: 200px;
    }
    #proyectsFather{
        display: none;
    }
    #mapaInteractivo #mobileMapa {
        transform: scale(0.7);
        margin-left: -200px;
        margin-top: -200px;
    }
    .slider-container{
        top:20vh
    }
    #flechaCarruselMover {
            top:80vh;
            right: 25%;
            transform: scale(0.8);
    }
    #flechaCarruselMover2 {
        top:80vh;
        left: 27%;
        transform: scale(0.8);
}
    .slide img{
        width: 90vw;
        height: 50vh;
        object-fit: cover;
    }
    .inmobiliarias{
        flex-direction: column;
    }
    .inmobiliarias div{
        text-align:center;
    }
    #paginaContacto section{
        flex-direction: column;
    }
    #paginaContacto section #marginTop20px{
        transform: translateX(0px);
        margin-left: 100px;
        margin-top: 100px;
    }
    #paginaContacto section .contactoTitle{
        font-size: 38px;
    }
}

@media all and (max-width:750px){
   
    .divMas{
        bottom: 90px;
    }
}

.tituloMas{
    backdrop-filter: none !important;
    background: rgba(0,0,0,0.5) !important;
}
.verProyecto{
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.5) !important;
}
.pText{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9) !important;
}
.textoH4{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8) !important;
}

.fixedBlack{
    background-color: rgba(0, 0, 0, 0.30);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 23;
}
.principalText{
    z-index: 1231;
}
.divMas{
    z-index: 1231;
}
#proyectsFather{
    z-index: 1231;
}
footer{
    z-index: 1231 !important;
}

.vistaFrontal{
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-sizing: border-box;
    transition: all 0.9s ease;
    transform: scaleX(1);
    transform-origin: bottom left;
    z-index: 1213123;
    display: flex;
    position: absolute;
    bottom: 200px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 213;
    bottom: 35%;
    height: 50px;

}
.vistaFrontal h4:hover {
    opacity: 1;
}
.vistaFrontal h4 {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 20px;
    text-shadow: none;
    color: #fff;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.logoViamontee{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 1213123;
    position: absolute;
    bottom: 200px;
    right: 190px;
    z-index: 213;
    bottom: 35%;
    
}

.miralagoo{
    bottom: 100px;
}
@media all and (max-width:900px){
   
    .vistaFrontal{
        display: none;
    }
    .logoViamontee{
        transform: scale(1);
        left: 22%;
        right: 22%;
        bottom: 15%;
    }

    .miralagoo{
        transform: scale(0.77);
        left: 26%;
        right: 20%;
        bottom: 5%;
    }
   
}
#paqueteFlex div img{
    transform: scale(1.8);
}
.paquete div div{
    margin-right: 60px;
}
#imagenIcono{
    width: 66px !important;
    height: 66px !important;
}

.rome .slide img{
    width: auto;
}

#paqueteFlex #transf img{
    transform: scale(1.2);
}
#paqueteFlex #transf div h2{
font-size: 15px;
}
#rome #transf img{
    transform: scale(1.2);
}
#rome #transf div h2{
font-size: 14px;
}
#parqueZoom{
    width: 100px;
    height: 80px;
}
.marginBottomRom{
    margin-bottom: 20px !important;
}

.wppRom{
    position: fixed;
    z-index: 2221312;
    bottom: 84px;
    right:14px;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
   transform: scale(1.05);
    border-radius: 50%;

}



.wppRom:hover{
  opacity: 0.8;

}

@media all and (max-width:900px){

    .wppRom svg{
        
        width: 44px;
        height: 44px;
    
    }
    .wppRom{
        
        bottom: 70px;
        right:1px;
    }
}